body {
	font-family: 'Lato', sans-serif;
}
a {
	cursor: pointer;
    color: inherit;
    text-decoration: none;
}
.hide {
	display: none !important;
}
.shadow {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.04);
}

/**
 * Pushing menu styles
 */
.main-content--mobile {
    left: 0;
}
.js-main-content-mobile--move {
    position: relative;
    left: 220px;
}
.js-main-content-mobile--move .header,
.js-main-content-mobile--move .nav--fixed {
    left: auto;
}
.header__drawer {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: #25282e;
    color: #fff;
    z-index: 5;
    max-width: 220px;
    transform: translateX(-250px);
    transition: 0.2s;
}
.header__drawer.is-visible {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    transition: 0.2s;
}

/**
 * Aside pushing menu itself
 */
.header__drawer-nav {
	box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 25px;
    overflow-y: auto;
    height: 100%;
}
.header__drawer-nav::-webkit-scrollbar {
	display: none;
}
.header__drawer-nav > .menu-link {
	color: inherit;
    flex-basis: 100%;
    padding: 15px;
    -webkit-font-smoothing: antialiased;
}

/**
 * Menu links with FontAwesome icons
 */
.menu-link {
    font-size: inherit;
    color: #333;
    text-decoration: none;
}
.menu-link > i {
	margin-right: 5px;
}

/**
 * Header styles
 */
.header {
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 5;
}
.header__upper {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    min-height: 50px;
    margin: 0;
    padding: 0;
    background-color: #22252a;
}
.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: inherit;
    margin: auto;
    position: relative;
}
.header__container .header__branding-text,
.header__container .header__login {
    margin: 0 15px;
    -webkit-font-smoothing: antialiased;
}

/**
 * Hide header menu hamburger
 * on big resolutions
 */
.header__menu-mobile {
    display: none !important;
    color: #fff;
    opacity: 0.75;
    cursor: pointer;
    align-items: center;
    height: inherit;
    margin: 0 20px;
}
.branding-text {
    color: #EF58A7;
    font-size: 36px;
    letter-spacing: 4px;
    -webkit-font-smoothing: antialiased;
}
/**
 * Motto in header
 */

.header__motto {
    color: #fff;
    font-size: 12px;
    font-style: italic;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
}
.header__container .header__branding-text {
    color: #EF58A7;
    font-size: 22px;
    letter-spacing: 5px;
}
 /**
  * Header contact-us
  */
.header__login {
    color: #fff;
    font-size: 12px;
    letter-spacing: 2px;
    -webkit-font-smoothing: antialiased;
}
.header__login span:hover {
    text-decoration: underline;
}

/**
 * SLIDER Styles
 */
.container {
    width: 600px;
    height: 400px;
    overflow: hidden;
    margin: 0 auto;
    position: relative;
    border-radius: 5px;
    top: 80px;
}
.wrapper {
    width: 9999px;
    height: 400px;
    position: relative;
    transition: right 350ms linear;
    right: 0;
}
.slide {
    width: 600px;
    height: 400px;
    float: left;
    display: flex;
    position: relative;
    overflow: hidden;
    opacity: 0.85;
    transition: none;
}
.ctrl-left, .ctrl-right {
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    outline: none;
    border: 0px solid transparent;
    border-radius: 3px;
    background: #D8D8D8;
    color: #E756A1;
    opacity: 0.4;
    padding: 10px;
    margin: 3px;
    font-size: 20px;
    cursor: pointer;
}
.ctrl-left {
    top: 50%;
    transform: translateY(-50%);
    left: 0;
}
.ctrl-right {
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}
.fade-in {
    opacity: 1;
    transition: 1s opacity;
}
.slide > img {
	display: block;
	margin: auto;
	max-width: 100%;
}
.slider-text {
	color: #EF58A7;
    font-size: 40px;
    letter-spacing: 5px;
	position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
	z-index: 3;
	background: #fff;
    border-radius: 5px;
    padding: 6px;
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    opacity: 0.95;
}

/**
 * TABS
 */
/* Style the tab */
div.tab {
    overflow: hidden;
    border-bottom: 1px solid #ccc;
    background-color: #f1f1f1;
}

/* Style the buttons inside the tab */
div.tab button {
    background-color: #EEEEEE;
    color: #EF58A7;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
    width: 50%;
}

/* Change background color of buttons on hover */
div.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
    background-color: #FFFFFF;
    color: #555;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-bottom-color: transparent;
    border-top: none;
    text-align: center;
}
.tabs-container {
	position: relative;
	top: 50px;
    border: 1px solid #ccc;
    max-width: 550px;
    margin: 50px auto;

}

.form-input {
	display: block;
    width: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 8px 12px;
    font-size: 15px;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 4px;
    margin-bottom: 10px;
    outline: none;
}
.form-input::placeholder {
    max-width:  95% !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
    overflow: hidden !important;
}
.inputs-wrapper {
	margin: 20px 0;
}
.form-button {
	display: inline-block;
	padding: 15px 30px;
	letter-spacing: 1px;
	margin: 20px auto 0;
	cursor: pointer;
	font-size: 13px;
}
.form-button:hover {
	color: #EF58A7;
	text-decoration: underline;
}
.form-button--cta {
	color: #fff;
	background: #EF58A7;
	font-size: 16px;
}
.form-button--cta:hover {
	color: #fff;
	background: #D63E8D;
	text-decoration: none;
}

.slide-section__controls {
	position: fixed;
    right: 25px;
    top: 70px;
    bottom: 0;
    width: 15px;
    z-index: 2;
}
.slide-section__controls ul {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: -97.5px 0 0 0;
    padding: 0;
    list-style: none;
}
.slide-section__controls li {
	transition: opacity 0.5s ease, background 0.5s ease;
    width: 100%;
    height: 15px;
    border-radius: 7.5px;
    background: white;
    cursor: pointer;
    opacity: 0.5;
    filter: alpha(opacity=50);
    margin: 15px 0;
    background: #444;
}
.slide-section__controls li.current {
    opacity: 1;
    filter: alpha(opacity=100);
}
.slide-section__item {
    transition: top 1s ease;
    position: fixed;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: pink;
    background-size: cover;
    background-position: fixed;
    box-sizing: border-box;
    padding: 58px 24px 24px 24px;
    z-index: 1;
    color: white;
}
.slide-section__item > span {
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    background: black;
    padding: 30px;
    max-width: 500px;
    display: inline-block;
    opacity: 0.8;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    display: none;
}
.slide-section__item.current {
    top: 50px;
}
.slide-section__item.current > span {
    display: initial;
}
.slide-section__item#first {
    background: url(../../img/food.jpg) no-repeat;
    background-size: cover;
}
.slide-section__item#second {
    background: url(../../img/check.jpeg) no-repeat;
    background-size: cover;
}
.slide-section__item#third {
    background: url(../../img/coffee.jpg) no-repeat;
    background-size: cover;
}
.slide-section__item#fourth {
    background: url(../../img/man.jpg) no-repeat;
    background-size: cover;
}
.slide-section__item#fifth {
    background: url(../../img/check.jpg) no-repeat;
    background-size: cover;
}

/**
 * Main content
 */
.branding-text {
    position: relative;
    font-weight: 900;
    top: 0px;
    width: 100%;
    height: 30px;
    margin: 25px 0 10px;
    text-align: center;
    cursor: pointer;
}
.nav__ul {
    list-style: none;
    max-width: 940px;
    display: flex;
    justify-content: space-around;
    margin: 40px auto 20px;
    cursor: pointer;
    padding: 0 15px;
}
.nav__ul-li {
    color: #333;
    font-size: 12px;
    letter-spacing: 3px;
    font-family: Arial,Helvetica,sans-serif;
}
.nav__ul-li--search {
    margin-top: -3px;
}
.nav__ul-li--search input {
    outline: none;
    border: 0;
    border-bottom: 1px solid #ccc;
    letter-spacing: 2px;
    width: 90px;
    display: inline-block;
    margin-bottom: 0;
    padding: 0;
    font-size: 12px;
    border-radius: 0;
}
.nav__ul-li > a {
    text-decoration: none;
    color: inherit;
}
.nav__ul-li:hover {
    text-decoration: underline;
}
.nav__ul-li--search:hover {
    text-decoration: none;
}
.nav__ul-li--search:hover input {
    cursor: pointer;
    border-color: #353535;
}
.hipster-girl-bg {
    height: 500px;
    background: url('../../img/hipster-girl.jpg');
    background-size: cover;
    background-position-y: -25%;
}
.nav--fixed {
    position: fixed;
    top: 50px;
    left: 0;
    background: #fff;
    width: 100%;
}
/**
 * Footer
 */
.footer {
    max-width: 940px;
    margin: 0 auto 0;
    padding-top: 15px;
    padding-bottom: 30px;
}
.footer__section-heading {
    flex-basis: 100%;
    font-size: 12px;
    letter-spacing: 3px;
    margin-bottom: 10px;
}
.footer__section {
    padding: 10px 15px 0;
    margin: 10px auto 10px;
    border-bottom: thin solid #ccc;
    background-color: white;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer__section-ul {
    display: inline-block;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
}
.footer__section-ul:not(:last-of-type) {
    margin-right: 30px;
}
.footer__section-li {
    color: #222;
    font-size: 10px;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.footer__section-li:hover {
    color: #ef58a7;
    cursor: pointer;
}
.footer__copyright {
    text-align: center;
    letter-spacing: 1px;
    font-size: 10px;
    margin-top: 25px;
}
/**
 * Register new Brand
 */
.registration__body {
    max-width: 450px;
    padding: 20px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}
.registration__h2 {
    font-size: 26px;
    font-weight: normal;
}
.registration__off-site {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.registration__off-site > input {
    width: auto;
    margin-bottom: 0;
    flex-grow: 1;
    margin-left: 20px;
}
.registration__upload {
    display: flex;
    align-items: center;
}
.registration__upload .fa-stack {
    cursor: pointer;
}
.registration__label {
    width: calc(100% - 40px);
    word-wrap: break-word;
    float: right;
    margin-left: 8px;
}
.registration__body .form-button {
    margin-top: 25px;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    letter-spacing: 2px;
}
.mandatory {
    position: relative;
}
.mandatory::after {
    content: "*";
    display: inline-block;
    color: red;
    font-size: 22px;
    position: absolute;
    left: -15px;
    top: 9px;
}
/**
 * Mobile styles
 */
@media (max-width: 900px) {
    .header__container .header__branding-text {
        margin-left: 60px;
    }
    .header__motto {
        display: none;
    }
	.header__menu-mobile {
	    position: absolute;
	    top: 0;
	    left: 0;
	    display: flex !important;
	    font-size: 24px;
	    color: #555;
	}
    .nav__ul {
        text-align: center;
    }
    .nav__ul-li, .nav__ul-li--search input {
        font-size: 10px;
    }
	.container  {
		max-width: 100%;
	}
	.slider-text {
		font-size: 30px;
	}
	.ctrl-left, .ctrl-right {
		padding: 20px;
	}
}
@media (max-width: 425px) {
    .header__container {
        justify-content: center;
    }
    .header__container .header__branding-text {
        margin-left: 0;
    }
    .header__login {
        display: none;
    }
    .nav__ul {
        flex-direction: column;
    }
    .nav__ul-li {
        margin-top: 10px;
    }
    .nav--fixed {
        position: static;
        margin-top: 50px;
        padding-top: 1px;
        padding-bottom: 7px;
    }
    .footer__section {
        text-align: center;
        justify-content: center;
    }
    .footer__section-heading {
        text-align: center;
        font-size: 18px;
        margin-bottom: 20px;
        line-height: 1.25em;
    }
    .footer__section-ul:not(:first-of-type) {
        display: none;
    }
    .footer__section-li {
        font-size: 12px;
        line-height: 18px;
    }
    .mandatory {
        max-width: calc(100% - 15px);
        margin-left: auto;
    }
    .registration__h2 {
        font-size: 22px;
        margin-left: 20px;
    }
    .registration__upload {
        margin-bottom: 10px;
        margin-left: 5px;
        align-items: flex-start;
    }
    .registration__off-site {
        flex-wrap: wrap;
        margin-left: 15px;
    }
    .registration__off-site > input {
        margin-top: 10px;
        margin-left: 0;
    }
    .registration__upload .fa-stack {
        font-size: 14px;
    }
    .registration__label {
        margin-left: 5px;
    }
    .nav__ul-li--search input {
        text-align: center;
        width: 75px;
    }
    .hipster-girl-bg {
        background-position-x: center;
    }

}